name: Build Java JAR (Maven)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      jarName:
        description: 'Nombre del jar (solo para el artifact)'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.jarName }}
          path: target/*.jar
