name: Build & Release JAR

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}      

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Debug workspace
        run: |
          echo "PWD:"
          pwd
          echo "Contenido del workspace:"
          ls -la
          echo "Buscar pom.xml:"
          find . -name pom.xml
   
      - name: Build with Maven
        run: mvn -B clean package

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
